@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #222831;
    color: #eeeeee;
    line-height: 1.6;
}

.navi-item {
    @apply text-white font-bold relative inline-block transition-width duration-300 ease-in-out overflow-hidden whitespace-nowrap w-5;
}

.navi-item:hover {
    @apply w-auto text-green;
}

.navi-item::after {
    @apply content-[attr(data-title)] text-green pl-1 opacity-0 transition-opacity duration-300 ease-in-out;
}

.navi-item:hover::after {
    @apply opacity-100;
}
